<script>
    export let menuMode
    
    const games = [
        {"name": "Tetris","src":"/game/tetris/"},
        {"name": "Pacman","src":"/game/pacman/"},
        {"name": "Poom", "src":"/game/poom/"},
        {"name": "Lingo", "src":"https://speellingo.nl/"},
        {"name": "jsw-hub","src":"https://jsw-hub.netlify.app"},
    ]

    const home = (e) => {
        menuMode = 0
    }

    const back = (e) => {
        inGame = false;
        src = ""
    }

    let inGame = false
    let src;
    
</script>

{#if inGame}
    <iframe class="center" {src} title="gameWindow"/>
    <div class="backBtn">
        <b on:click={back}>🎮</b>
        <b on:click={home}>⏲</b>
    </div>
{:else}
    <div class="center">
        <!-- svelte-ignore a11y-invalid-attribute -->
        <a href="#" on:click={home}>Back</a>
        <hr>
        {#each games as game}
            <!-- svelte-ignore a11y-invalid-attribute -->
            <a href="#" on:click={() => {inGame = true; src = game.src;}}>{game.name}<span title="External website, data (may) be monitored. (by them, not us lmao)">{game.src.includes("http") ? "⚠":""}</span></a>
        {/each}
        <hr>
        <!-- svelte-ignore a11y-invalid-attribute -->
        <a href="#" on:click={home}>Back</a>
    </div>
{/if}

<style>
    a {
        font-size: 2.5rem;
        margin: 20px;
        display:block;
    }
    
    @media only screen and (max-width: 500px) {
        a {
            font-size:2rem;
        }
        span {
            font-size:0.5rem;
        }
    }
    
    span {
        font-size: 1rem;
    }
    
    b {
        margin: 10px;
        cursor: pointer;
        font-size:1.5rem;
        display:block;
    }
    
    iframe {
        width: 99%;
        height: 99%;
        z-index: 1;
        border: 0;
    }
    

    .backBtn {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
</style>