<script>
    export let menuMode;

    const links = [
        {"name":"Magister", "href":"https://chrlyceumdelft.magister.net"},
        {"name":"Magister (agenda)", "href":"https://chrlyceumdelft.magister.net/magister/#/agenda/werkweek"},
        {"name":"Magister (leermiddelen)", "href":"https://chrlyceumdelft.magister.net/magister/#/leermiddelen"},
        {"name":"Notion", "href":"https://notion.so"},
        {"name":"jsw notes", "href":"https://jsw-notes.netlify.app"},
        {"name":"Elo", "href":"https://chrlyceumdelft.itslearning.com"},
        {"name":"Gmail", "href":"https://mail.google.com"},
        {"name":"Drive", "href":"https://drive.google.com"},
        {"name":"Docs", "href":"https://docs.google.com"}, 
    ]

    const back = (e) => {
        menuMode = 0
    }
</script>

<div class="center">
    <!-- svelte-ignore a11y-invalid-attribute -->
    <a href="#" on:click={back}>back</a>
    <hr>
    {#each links as link}
        <a href={link.href} target="_blank">{link.name}<span title="External website, data (may) be monitored. (by them, not us lmao)">{link.href.includes("http") ? "⚠":""}</span></a>
    {/each}
    <hr>
    <!-- svelte-ignore a11y-invalid-attribute -->
    <a href="#" on:click={back}>back</a>
</div>

<style>
    a {
        font-size: 2.5rem;
        margin: 20px;
        display:block;
    }
    
    @media only screen and (max-width: 500px) {
        a {
            font-size:2rem;
        }
        span {
            font-size:0.5rem;
        }
    }
    
    span {
        font-size: 1rem;
    }
</style>