<script>
    export let menuMode
    import {onMount, createEventDispatcher} from 'svelte'
    import {set} from 'date-fns'
    
    const classes = [
    { "h": 8, "m": 30, "t": "1st class" },
    { "h": 9, "m": 15, "t": "2nd class" },
    { "h": 10, "m": 0, "t": "3rd class" },
    { "h": 10, "m": 45, "t": "1st break" },
    { "h": 11, "m": 0, "t": "4th class" },
    { "h": 11, "m": 45, "t": "5th class" },
    { "h": 12, "m": 30, "t": "2nd (big) break" },
    { "h": 13, "m": 0, "t": "6th class" },
    { "h": 13, "m": 45, "t": "7th class" },
    { "h": 14, "m": 30, "t": "3rd break" },
    { "h": 14, "m": 45, "t": "8th class" },
    { "h": 15, "m": 30, "t": "da end" }
  ]
    
    var date = new Date()
    var m;
    var s; 
    $: currentClass = classes.find(v => date.getTime() < new Date(set(new Date(), {hours:v.h,minutes:v.m, seconds:0})).getTime())
    $: inSchool = (
        date.getDay() !== 6 &&
        date.getDay() !== 0 &&
        currentClass !== undefined
    )
    $: if (inSchool) {
        let currentClassTime = new Date(set(new Date(), {hours:currentClass.h,minutes:currentClass.m,seconds:0})).getTime()
        let d = currentClassTime - date.getTime()
        m = Math.floor((d % (1000 * 60 * 60)) / (1000 * 60));
        s = Math.floor((d % (1000 * 60)) / 1000);
    }

    onMount(() => {
        setInterval(() => date = new Date(), 500)
    })
</script>

<div class="center">
    {#if inSchool}    
    <!-- on:contextmenu|preventDefault={} -->
        <h1 on:contextmenu|preventDefault={() => menuMode = 1}  on:click={() => menuMode = 2}>{(m < 10) ? "0":""}{m}:{(s < 10) ? "0":""}{s}<br><i>minutes till {currentClass.t}</i></h1>
    {:else}
        <h1 on:contextmenu|preventDefault={() => menuMode = 1}  on:click={() => menuMode = 2}>Why are you even on this site? School is closed idiot</h1>
    {/if}
</div>