<script>
    import Timer from './lib/Timer.svelte'
    import Games from './lib/Games.svelte'
    import Shortcuts from './lib/Shortcuts.svelte'
    
    let menuMode = 0
</script>

{#if menuMode == 0}
    <Timer bind:menuMode/>
{:else if menuMode == 1}
    <Games bind:menuMode/>
{:else if menuMode == 2}
    <Shortcuts bind:menuMode/>
{/if}